.myAccount-con-PaymentCon{
      height: 100%;
}
.myAccount-con-PaymentContact{
   width:680px;
   margin: 0px auto;
   box-shadow: 0px 0px 5px #FFBE25;
   margin-top: 20px;
   margin-bottom: 90px;
}
.myAccount-con-Plist{
  height:60px;
  width；100%;
  line-height: 60px;
  display: flex;
  justify-content: flex-start;
  border-bottom:1px dashed #EEEEEE;
  margin:0;
}
.myAccount-con-Plist li{
  border-top:6px solid #fff;
  font-size: 16px;
  padding-left:20px;
  line-height: 47px;
}
.myAccount-con-Plist .active,.myAccount-con-Plist:hover .myAccount-con-Plist>li{
  border-top:6px solid #FFBE25;
  color:#ffbe25;
}
.myAccount-con-PaymentCon .MyInvestmentStatistics {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.myAccount-con-PaymentCon .MyInvestmentStatistics li {
    width: 50%;
    height: 100%;
    padding: 20px;
}
.myAccount-con-PaymentCon .MyInvestmentStatistics li p {
    font-size: 14px;
    padding: 15px 0;
    border-bottom: 1px solid #E5E5E5;
    color: #000;
}
.myAccount-con-PaymentCon .MyInvestmentStatistics li p span {
    font-size: 14px;
    color: #a7a7a7;
    margin-left: 30px;
}
.myAccount-con-PaymentCon .MyInvestmentStatistics li .form-control{
    width: 35%;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 0px;
}
.myAccount-con-PaymentCon .MyInvestmentStatistics li .form-control-l{
    margin-left: 194px;
}
.nav-pills li a:hover,.nav-pills li a:focus {
    border: 0;
    outline: none;
}

/* 我的回款 */
.person-myback{
      border-collapse: inherit;
      box-sizing: border-box;

}
.person-myback>tbody>tr:hover {
    background: #fff;
}
