.myAccount-con-huikuancon{
      height: 100%;
}
.table-bordered{
    margin: 0 auto;
    width:95%;
}
.table-bordered tbody tr td{
        line-height: 2;
        padding:0px;
}
.table-bordered tbody tr td span{
    display: -webkit-inline-box;
    border: 0;
    width: 163px; 
    text-align: -webkit-right;
    background: #EEEEEE;
    padding-right: 15px;
}
.table-bordered tbody tr td input,.table-bordered tbody tr td select{
      line-height: initial;
      margin-left: 20px;
      width: 50%;
}
.table-bordered tbody tr td textarea{
    width: 70%;
    margin: 5px 0;
    margin-left: 29%;
}
.textarea{
      position: absolute;
      height: 76px;
}
.table-bordered tbody tr td .num,.table-bordered tbody tr td .doller{
  width:10%;
  position: relative;
}
.table-bordered tbody tr td .data{
  width:20%;
}
.table-bordered tbody tr td .back{
      background: #ccc;
    border: 0;
}
.qing{
      margin: 15px;
    position: relative;
    right: -440px;
    background: #FFBE25;
    border: 0;
    border-radius: 20px;
    padding: 3px 20px;
}