.qing{
      margin: 15px;
    position: relative;
    right: -440px;
    background: #FFBE25;
    border: 0;
    border-radius: 20px;
    padding: 3px 20px;
}
.myAccount-con-huikuancon{
      height: 100%;
}
.myAccount-con-huikuancontact{
   width:680px;
   margin: 0px auto;
   box-shadow: 0px 0px 5px #FFBE25;
   margin-top: 20px;
   margin-bottom: 90px;
}
.myAccount-con-hklist{
  height:60px;
  width；100%;
  line-height: 60px;
  display: flex;
  justify-content: flex-start;
  border-bottom:1px dashed #EEEEEE;
  margin-bottom: 0;
}
.myAccount-con-hklist li{
  border-top:6px solid #fff;
  font-size: 16px;
  padding-left:20px;
  line-height: 47px;
}
.myAccount-con-hklist .active,.myAccount-con-hklist:hover .myAccount-con-hklist>li{
  border-top:6px solid #FFBE25;
  color:#ffbe25;
}
.myAccount-con-hklist {
    border-bottom:0;
}
.table-bordered{
    margin: 0 auto;
    width:95%;
    border:1px solid #eee;
}
.table-bordered tbody tr td{
  border-top: 1px solid #ddd;
  border-bottom: 0;
}
.table-bordered tbody tr td:first-child{
       width:163px;
       background:#eee;
       text-align: right;
       padding: 5px 15px;
       font-size: 14px;
}
.table-bordered tbody tr td:nth-child(2){
       text-align:left;
       padding:0 15px;
       line-height: 39px;
}
.table-bordered tbody tr td input, .table-bordered tbody tr td select {
    line-height: initial;
    width: 70%;
    height: 25px;
}
.table-bordered tbody tr td .num{
   width:60px;margin-right: 5px;
}
.table-bordered tbody tr td .disnum{
     margin-left: 0;
     margin-right: 5px;
}
.table-bordered tbody tr td i {
    font-size: 10px;
    color: #FFBE25;
}
.table-bordered tbody tr td .annualRate{
  margin:0 10px;
  width: auto;
  padding: 0;
  background:#fff;
}
.table-bordered tbody tr td input.requested{
    margin-right: 5px;
}
.table-bordered tbody tr td .leading-in{
    padding: 1px 15px;
}
.table-bordered tbody tr td .input-group-addon{
    width: initial;
    background: rgba(0,0,0,0);
    position: absolute;
    top: -3px;
    right: -15px;
}
.table-bordered tbody tr td .form-group{
      margin-top: 7px;
}
.table-bordered tbody tr td .form-control{
  border: 1px solid #999;
}
strong{
    cursor: pointer;
}